body{background-color:grey;}
p{color:blue}
#para1{color:red}
#para2{color:black}
body{width:960px;margin-left:auto;margin-right:auto;border-width:1px;boder-style:solid;boder-color:white;border-radius:5px}
